<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home_page.css">
    <title>Bem-Vindo</title>
</head>
<body>
    
    <header class="header">
        <!-- Botão do menu para dispositivos móveis -->
        <button class="menu-btn" onclick="toggleSidebar()"><i class="fas fa-bars"></i></button>

        <span><img src="../images/home_page/Blue_and_White_Circle_Retail_Logo__1_-removebg-preview.png" class="logo"></span>

        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Gallery</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <!-- Barra Lateral -->
    <aside class="sidebar" id="sidebar">
        <button class="close-btn" onclick="toggleSidebar()">x</button>
        <nav class="sidebar-nav">
            <a href="home_page.html">Home</a>
            <a href="#">About</a>
            <a href="#">Gallery</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </aside>
    <div class="slideshow-container">
        <img class="slide" src="../images/home_page/Banner horizontal ong de animais doação colorido.png" alt="Imagem 1">
        <img class="slide" src="../images/home_page/Banner horizontal ong de animais doação colorido (1).png" alt="Imagem 2">
        <img class="slide" src="../images/home_page/Banner horizontal ong de animais doação colorido (2).png" alt="Imagem 3">
    </div>

</body>
<script src="../js/home_page.js"></script>
</html>

<!--right: 40px;
        background-color: red;-->